<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>JavaLogin</display-name>
    <servlet-mapping>
        <servlet-name>PratingBean</servlet-name>
        <url-pattern>/PratingBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PratingServlet</servlet-name>
        <url-pattern>/PratingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PratingDao</servlet-name>
        <url-pattern>/PratingDao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.login.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerformBean</servlet-name>
        <servlet-class>com.mvc.bean.PerformBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerformServlet</servlet-name>
        <servlet-class>com.mvc.controller.PerformServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PratingBean</servlet-name>
        <servlet-class>com.prating.bean.PratingBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PratingServlet</servlet-name>
        <servlet-class>com.prating.controller.PratingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PratingDao</servlet-name>
        <servlet-class>com.prating.dao.PratingDao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PerformServlet</servlet-name>
        <url-pattern>/PerformServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.login.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
</web-app>
